*{
    scroll-behavior: smooth !important;
}
body{
    font-family: arial,sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
#brand{
    display: none;
}
ul li a{
    text-decoration: none;
    color: black;
}
@media(max-width:870px){
#brand{
    display: block;
    color: black;
    font-size: 3em;
}
}